/***** NAVBAR STYLES *****/
.navbar-header .navbar-brand {
    padding: 0;
}
.navbar-brand img {
    padding: 7.5px;
}

/***** HOME STYLES *****/
.featured-product img {
    margin-bottom: 10px;
    width: 50%;
}

/***** PRODUCTS STYLES *****/
.product {
    /*box-shadow: 0px 1px 2px #e7e7e7;*/
    padding-top: 15px;
    padding-bottom: 15px;
    transition: box-shadow 0.3s ease-in-out;
}
.product:hover {
    box-shadow: 0px 5px 15px #e7e7e7;
}
.product img {
    margin-bottom: 15px;
    width: 50%
}
.product label {
    font-weight: normal;
}
.product .col-md-3 {
    padding: 0;
}

/***** CHECKOUT STYLES *****/
table.cart {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
tbody tr.total-row {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.table-striped > tbody > tr.total-row {
    background-color: #ffffff;
    font-weight: bold;
}
tbody tr.total-row td {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/***** FOOTER STYLES *****/
footer {
    border-top: 1px solid #e7e7e7;
    clear: both;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}