/***** NAVBAR STYLES *****/
.navbar-header .navbar-brand {
    padding: 0;
}
.navbar-brand img {
    padding: 7.5px;
}

/***** HOME STYLES *****/
.featured-product img {
    margin-bottom: 10px;
    width: 50%;
}

/***** PRODUCTS STYLES *****/
.product {
    margin-bottom: 30px;
}
.product img {
    margin-bottom: 5px;
    width: 50%
}
.product label {
    font-weight: normal;
}
.product .col-md-3 {
    padding: 0;
}

/***** FOOTER STYLES *****/
footer {
    border-top: 1px solid #e7e7e7;
    clear: both;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}